* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    

}
h1 {
    color: #ff6961;
    animation: fadeIn 2s;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

canvas {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
}
body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe5e5;

}
.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 400px;
    margin: 20px;
}
.container .tenor-gif-embed {
    display: flex;
    max-width: 200px;
}
.container .btn {
    display: flex;
    gap: 25px;

}
.btn a {
    text-decoration: none;
    font-family: 'Luckiest Guy', cursive;
    color: #111;
    cursor: pointer;
    background: #fff;
    padding: 5px 25px;
    border-radius: 8px;
    box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0%, 0.3);
    animation: float 2s infinite;
    transition: transform .3s ease;
    
}
@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
  }
.btn:hover {
    
    transform: translateY(-5px);
}

p {
    color: #850a0a;
    animation: fadeIn 2s;
}
audio{
    max-width: 100px;
    align-self: center;
    
}

  .play-music-button {
    background-color: #ff6f61;
    margin-top: 20px;
    color: #fff;
    border: none;
    padding: 1px 30px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s, background-color 0.3s;
    animation: music-note 0.5s infinite;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .play-music-button:hover {
    transform: scale(1.1);
    background-color: #e70f0f;
  }
  @keyframes music-note {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }


