* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    

}
h1 {
    color: #0c0c0c;
    
}
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
canvas {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
}
body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cfc3e7;

}
.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 400px;
    margin: 20px;
}
.container .tenor-gif-embed {
    display: flex;
    max-width: 200px;
}
.container .btn {
    display: flex;
    gap: 25px;

}
.btn a {
    text-decoration: none;
    color: #111;
    background: #cfc3e7;
    padding: 1px 25px;
    border-radius: 8px;
    box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0%, 0.3);
    transition: transform .2s;
    width: 2%;height: 2px;
    align-items: center;

}
.btn:hover {
      transform: translateY(-5px);
}
p {
    color: #000000;
}
audio{
    max-width: 100px;
    align-self: center;
    
}
