* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    

}
h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 1.6em;
    color: #fc4e4e;
    animation: bounce 2s infinite;
  }
  @keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
  }
canvas {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
}
body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #fdfbfb, #f5a38f);
    

}
.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 400px;
    margin: 20px;
}
.container .tenor-gif-embed {
    display: flex;
    max-width: 200px;
}
.container .btn {
    display: flex;
    gap: 25px;
    border: 5px dashed #ff6f61;

}
.btn a {
    text-decoration: none;
    background: #f8f8f8;
    font-family: 'Luckiest Guy', cursive;
    font-size: 13.5px;
    color: #1f0604;
    cursor: pointer;
    padding: 10px 25px;
    border-radius: 8px;
    box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0%, 0.3);
    animation: float 2s infinite;
    transition: transform .3s ease;
    
}

.btn:hover {
      transform: translateY(-5px);
}
p {
    font-family: "Lucida Handwriting", cursive;
    color: #000000;

}
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
audio{
    max-width: 100px;
    align-self: center;
    
}
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border: 5px solid #ff6f61;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  
  .video-container {
    margin: 20px 0;
    
  }
  .video-container img {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
