* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    

}
h1 {
    color: #080100;
    animation: fadeIn 2s;
    font-family: "Quicksand", cursive;
    position: relative;  
    font-size: 20px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
canvas {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
}
body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe5e5;

}
.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 400px;
    margin: 20px;
}
.container .tenor-gif-embed {
    display: flex;
    max-width: 200px;
}
.container .btn {
    display: flex;
   flex-direction: column;
   align-items: center; /* Optional: center-align stuff */
   gap: 10px;
}
.btn a {
    text-decoration: none;
    color: #111;
    font-family: "Quicksand", cursive;
    background: #fff;
    padding: 5px 15px;
    border-radius: 8px;
    box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0%, 0.3);
    transition: transform .2s;
    animation: float 2s infinite;
    
}

.btn:hover {
    transform: translateY(-5px);
}

p {
    color: #000000;
}

audio{
    max-width: 100px;
    align-self: center;
    
}

.github {
	z-index: 10000;
	bottom: 10px;
	right: 10px;
	position: fixed;
	border-radius: 10px;
	background: #fff;
	padding: 0 12px 6px 12px;
	border: 1px solid #000;
}

.github a:hover,
.github a:link,
.github a:visited,
.github a:active {
	color: #000;
	text-decoration: none;
}

.github img {
	height: 30px;
}

.github #gh-project {
	font-size: 20px;
	padding-left: 5px;
	font-weight: bold;
	vertical-align: bottom;
}
@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
  }